<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">
      <%= t("pages.more_info.proposals.title") %>
    </h3>
    <p><%= t("pages.more_info.proposals.description") %></p>
    <ul class="features">
      <li>
        <%= t("pages.more_info.proposals.feature_1",
              link: link_to(t("pages.more_info.proposals.feature_1_link", org_name: setting['org_name']),
                               new_user_registration_path)).html_safe %>
      </li>
      <!--li><%= t("pages.more_info.proposals.feature_2_html") %></li>
      <li><%= t("pages.more_info.proposals.feature_3_html") %></li-->
    </ul>

    <figure>
      <%= image_tag "more_info/proposals_#{I18n.locale}.png", alt: t("pages.more_info.proposals.image_alt") %>
      <figcaption><%= t("pages.more_info.proposals.figcaption_html") %></figcaption>
    </figure>
  </div>
</div>
