<ul class="related-content-list" id="related-content-list">
  <% @related_contents.each do |related| %>
    <li>
      <a href="#" class="float-right flag">
        <span class="icon-flag"></span> <!-- This should be similar to comments/flag_actions -->
      </a>

      <span><%= t("related_content.content_title.#{related.class.name.downcase}") %></span><br>
      <h3 class="inline-block">
        <%= link_to related.title, eval("#{related.class.name.downcase}_path(related)") %>
      </h3>
    </li>
  <% end %>
</ul>

<%= paginate @related_contents %>
