<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>No funciona la verificación de residencia.</strong></a></li>
      <li><a href="#2"><strong>¿Para qué sirve verificar mi cuenta?</strong></a></li>
      <li><a href="#3"><strong>¿Necesito teléfono celular o acceso a Internet para poder participar?</strong></a></li>
      <li><a href="#4"><strong>¿Cómo creo y verifico mi cuenta?</strong></a></li>
      <li><a href="#5"><strong>¿Cómo puedo enviar una propuesta a Luján de Cuyo? ¿Puedo enviar directamente mi propuesta a alguno de los correos electrónicos que aparecen en la página de Lujan de Cuyo Decide?</strong></a></li>
      <li><a href="#6"><strong>Me olvidé mi contraseña o no funciona, ¿qué puedo hacer?</strong></a></li>
      <li><a href="#7"><strong>¿Cómo puedo cambiar mi correo electrónico, mi nombre de usuario, mi contraseña, darme de baja o activar/desactivar las notificaciones que me llegan al correo electrónico?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear"><%= t("pages.more_info.faq.page.title") %></h1>
    <p><%= t("pages.more_info.faq.page.description") %></p>

    <h3 id="1">No funciona la verificación de residencia.</h3>
    <p>Comprobá las siguientes posibilidades:</p>
    <ul>
      <li>¿Pusiste el número de DNI o documento con todos los caracteres juntos?</li>
      <li>Si el error persiste, escribínos a <a href="mailto:decide@lujandecuyo.gob.ar">decide@lujandecuyo.gob.ar</a> para que podamos ayudarte</li>
    </ul>

    <h3 id="2">¿Para qué sirve verificar mi cuenta?</h3>
    <p>Para usar Lujan de Cuyo Decide necesitás crear un usuario que, dependiendo de si hiciste la verificación de tu cuenta, te permitirá hacer distintas acciones dentro del sitio.</p>
    <p>Si te registrás en la web con tu correo electrónico y no das ningún otro dato (no hacés el proceso de verificación), vas a poder comentar y apoyar las propuestas de los demás, pero no vas a poder crear propuestas.</p>

    <h3 id="3">¿Necesito teléfono celular o acceso a Internet para poder participar?</h3>
    <p>No. Todas las acciones relacionadas con el proceso también podés realizarlas personalmente en cualquiera de los puntos <%= link_to('Lujan de Cuyo Decide', root_url) %></a> o llamando al 4989900. Allí podrás generar tus propuestas, dar apoyo y votar las propuestas que hayan sido creadas por los demás participantes.</p>

    <h3 id="4">¿Cómo creo y verifico mi cuenta?</h3>
    <p>Para crear una cuenta tenés que hacer clic en el enlace <%= link_to 'Registrarse', new_user_registration_path, rel: "nofollow" %>​​​​​​​ ​​​​​​​​​​​​​​y completar los datos. Es un requisito marcar la casilla de declaración de residencia en Luján de Cuyo. Al crear una cuenta, te va a llegar un correo electrónico a la dirección que hayas especificado,para terminar de crearla solo tenés que hacer clic en el enlace de "Confirmar mi cuenta".</p>
    <p>Una vez creada la cuenta básica, y tras​​​​​​​ <%= link_to 'Entrar', new_user_session_path ,rel: 'nofollow' %> ​​​​​​​con tu correo y contraseña, podés hacer la verificación (solamente es necesario este paso para enviar propuestas). Mediante la web, hacé clic en el enlace "Mi cuenta" de la parte superior derecha, y luego en el botón "Verificar mi cuenta”, donde deberás completar los datos requeridos y marcar la casilla de aceptación.</p>

    <h3 id="5">¿Cómo puedo enviar una propuesta a Luján de Cuyo? ¿Puedo enviar directamente mi propuesta a alguno de los correos electrónicos que aparecen en la página de Lujan de Cuyo Decide?</h3>
    <p>El camino correcto para hacer una propuesta es agregarla uno mismo directamente en la página dentro de la sección "Propuestas" (para eso es necesario primero crear una cuenta haciendo clic en el enlace Registrarse y, una vez creada, hacer clic en el botón "Crear propuesta" de la sección "Propuestas"). Otra manera de crear una propuesta es hacerlo en forma presencial acercándote a cualquiera de los Puntos Lujan de Cuyo Decide o la Delegacion mas cercana, Así como también en nuestras redes y en el mail de Lujan de Cuyo Decide o llamando al 4989900</p>

    <h3 id="6">Me olvidé mi contraseña o no funciona, ¿qué puedo hacer?</h3>
    <p>Podés seleccionar ​​​​​​​“<%= link_to 'Entrar', new_user_session_path ,rel: 'nofollow' %>” y <%= link_to 'solicitar nueva contraseña', new_user_password_path %> ​​​​​​​para que se te envíe a tu correo electrónico.</p>

    <h3 id="7">¿Cómo puedo cambiar mi correo electrónico, mi nombre de usuario, mi contraseña, darme de baja o activar/desactivar las notificaciones que me llegan al correo electrónico?</h3>
    <p>Podés cambiar tu correo electrónico, nombre de usuario, contraseña, darte de baja o activar/desactivar notificaciones ingresando a Mi cuenta > Cambiar datos de acceso. Una vez que guardes los cambios, verás los modificados actualizados.</p>
  </div>
</div>
