<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == 'debates',
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.debates") %>
      </li>
    <% end %>
    <% if feature?(:proposals) %>
      <li>
        <%= link_to t("layouts.header.proposals"),
                                proposals_path,
                                class: ("active" if current_page?(proposals_path)),
                                accesskey: "2",
                                title: t("shared.go_to_page") + t("layouts.header.proposals") %>
      </li>
      <li>
        <%= link_to "Convocatoria 2019",
                                approved_stage_proposals_path(3),
                                class: ("active" if current_page?(approved_stage_proposals_path(3))),
                                accesskey: "7",
                                title: t("shared.go_to_page") + t("layouts.header.proposals_approved") %>
      </li>
      <li>
        <%= link_to "Convocatoria 2018",
                                approved_stage_proposals_path(0),
                                class: ("active" if current_page?(approved_stage_proposals_path(0))),
                                accesskey: "7",
                                title: t("shared.go_to_page") + t("layouts.header.proposals_approved") %>
      </li>
    <% end %>
    <% if feature?(:polls) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                  accesskey: "3",
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions") %>
      </li>
    <% end %>
    <% if feature?(:legislation) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "l" %>
      </li>
    <% end %>
    <% if feature?(:spending_proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                  spending_proposals_path,
                                  controller_name == 'spending_proposals',
                                  accesskey: "s" %>
      </li>
    <% end %>
    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                  budgets_path,
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "4",
                                  title: t("shared.go_to_page") + t("layouts.header.budgets") %>
      </li>
    <% end %>
    <li>
      <%= link_to t("layouts.header.more_info"),
                    more_info_path,
                    accesskey: "5",
                    class: ("active" if current_page?(more_info_path)),
                    title: t("shared.go_to_page") + t("layouts.header.more_info") %>
    </li>
    <li>
      <%= link_to "Volver a Lujan de Cuyo",
                    'http://lujandecuyo.gob.ar/',
                    accesskey: "6",
                    title: t("shared.go_to_page") + "Lujan de Cuyo" %>
    </li>
  </ul>
</div>
