<div class="verification account row">
  <%track_event(category: "verification", action: "success_sms" )%>
  <div class="small-12 column">

    <div class="text-center">
      <div class="small-4 column verification-step completed">
        <span class="number">1</span> <%= t("verification.step_1") %>
      </div>
      <div class="small-4 column verification-step completed">
        <span class="number">2</span> <%= t("verification.step_2") %>
      </div>
      <div class="small-4 column verification-step active">
        <span class="number">3</span> <%= t("verification.step_3") %>
      </div>

      <div class="progress small-12 success">
        <span class="meter" style="width: 100%"></span>
      </div>
    </div>

    <div class="small-12 medium-4 column">

      <%= back_link_to account_path, t("verification.back") %>

      <h1><%= t("verification.letter.new.title") %></h1>

      <div class="user-permissions">

        <p><%= t("verification.letter.new.user_permission_info") %></p>

        <ul>
          <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_proposal") %></li>
          <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_support_proposal") %></li>
        </ul>
      </div>

      <%= link_to t("verification.letter.new.go_to_index"), root_path, class: "button warning" %>
    </div>
    <div class="small-12 medium-8 column final-votes-info">

      <span class="icon-box"></span>

      <p><strong><%= t("verification.letter.new.explanation") %></strong></p>

      <ul>
        <li>
          <%= t("verification.letter.new.office",
          office: link_to(t("verification.letter.new.offices"), setting['verification_offices_url'],
          target: "blank")).html_safe %>
        </li>
        <li>
          <%= link_to t("verification.letter.new.send_letter"), letter_path, method: :post %>
        </li>
      </ul>
    </div>
  </div>
</div>
