<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div id="conditions" class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO DE LA PLATAFORMA WEB "LUJAN DE CUYO DECIDE"</h2>
    <ol>
      <li>
        <strong><u>Ámbito de aplicación de las condiciones de uso</u></strong>

        <p>La participación (entendiéndola como participación activa –registro, creación de propuestas, apoyo, apoyo y/o compartir contenido-) en la plataforma web “Lujan de Cuyo Decide”, correspondiente al Gobierno de la Municipalidad de Lujan de Cuyo, se regula por las presentes Condiciones de Uso y las correspondientes Políticas de Privacidad y Seguridad. Por ello, cualquier persona que desee participar deberá registrarse, a cuyo fin se solicitará la aceptación de estas Condiciones de Uso y las correspondientes Políticas de Privacidad y Seguridad.</p>
      </li>
      <li>
        <strong><u>Objetivo de la iniciativa</u></strong>

        <p>A través de la plataforma web “Lujan de Cuyo Decide”, el Gobierno de la Municipalidad de Lujan de Cuyo quiere fomentar la participación de las personas en la gestión de la Ciudad, involucrándolas en la generación de ideas y propuestas novedosas y viables, con el objeto de mejorar su calidad de vida. Es una apuesta decidida por una gestión más cercana a las personas, que permitirá recibir sus propuestas y además, fomentar canales directos de comunicación con el Gobierno de la Ciudad, contribuyendo a tomar las decisiones más acertadas para el interés general.</p>
      </li>
      <li>
        <strong><u>Cuestiones generales sobre la participación en la Plataforma web “Lujan de Cuyo Decide”</u></strong>

        <p>Podrá participar cualquier persona humana que se haya registrado previamente en la Plataforma web “Lujan de Cuyo Decide”. Los mayores de edad a cuyo cargo se encuentran los menores que participen, son los plenos y exclusivos responsables del registro y la participación activa que tengan éstos en la Plataforma web “Lujan de Cuyo Decide”. Por lo tanto, la participación, en cualquiera de las etapas, de un menor de edad en la plataforma web, será de exclusiva responsabilidad de su padre/madre o tutor.</p>
      </li>
      <li>
        <strong><u>Obligaciones de los usuarios de la Plataforma web “Lujan de Cuyo Decide”</u></strong>

        <p>Al ser la Plataforma web “Lujan de Cuyo Decide” un punto de encuentro cuyo objetivo es elaborar, apoyar, votar y compartir propuestas relacionadas con la mejora de la Ciudad, los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo.</p>
        <p>El Gobierno de la Municipalidad de Lujan de Cuyo no es responsable del uso incorrecto de la Plataforma web “Lujan de Cuyo Decide” por los usuarios o de los contenidos localizados en el mismo, siendo cada usuario, y en caso de ser menor de edad, su padre/madre o tutor, responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.</p>
        <p>El Gobierno de la Municipalidad de Lujan de Cuyo se reserva, por lo tanto, el derecho a limitar el acceso a la Plataforma web “Lujan de Cuyo Decide” de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo adoptar toda medida que estime pertinente a tal efecto. Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental de la Plataforma web “Lujan de Cuyo Decide”. </p>
        <p>De acuerdo a la normativa legal vigente queda prohibida la utilización de la Plataforma web “Lujan de Cuyo Decide” del Gobierno de la Municipalidad de Lujan de Cuyo con fines distintos a los de elaborar, apoyar, votar y compartir propuestas, y específicamente:</p>
        <ul>
          <li>Compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li>
          <li>Compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li>
          <li>Compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</li>
          <li>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.</li>
          <li>Su utilización con fines de publicidad.</li>
          <li>Cualquier otra finalidad ilícita y/o que contraríe la moral pública.</li>
        </ul>

        <p>La realización de cualquiera de los anteriores comportamientos permitirá al Gobierno de la Municipalidad de Lujan de Cuyo suspender temporalmente la actividad de un participante, inhabilitar su cuenta y/o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>
        <p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Gobierno de la Ciudad Autónoma de Bueno Aires no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
        <p>En caso de litigio de cualquier clase o por cualquier motivo entre los participantes en la plataforma web y/o un tercero, el Gobierno de la Municipalidad de Lujan de Cuyo quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.</p>
      </li>
      <li>
        <strong><u>Etapas de funcionamiento de “Lujan de Cuyo Decide”:</u></strong>

        <ul>
          <li>Creación de propuestas: No hay límite en la cantidad de propuestas que un usuario puede crear, pero cada propuesta debe referirse a un solo Proyecto y estar orientada a la intervención de un espacio de uso público</li>
          <li>Apoyo de propuestas: Consiste en el respaldo de las propuestas creadas. Cada usuario puede apoyar cada propuesta una sola vez y hasta un máximo de diez (10) propuestas. La cantidad de apoyos que éstas reciban determinará el orden en el que serán analizadas en la siguiente etapa. Podrán participar en esta etapa cualquier persona mayor de 16 años siempre y cuando cuente con domicilio actualizado en el DNI en la Municipalidad de Lujan de Cuyo y, a su vez, tenga capacidad para ejercer derechos políticos en dicha jurisdicción. Cada usuario podrá votar únicamente en un Distrito a elección, sin necesidad de que corresponda a la de su domicilio. Se podrán apoyar todos los proyectos que se quiera, Cabe destacar que en el caso de salir elegidos dos proyectos que sean incompatibles entre sí por la actuación a llevar a cabo (por ejemplo, realizar dos propuestas distintas en un mismo lugar/ámbito), se elegirá el que tenga mayor número de apoyos.</li>
          <li>Análisis de las propuestas: En esta etapa diferentes áreas técnicas del Gobierno de la Municipalidad de Lujan de Cuyo  analizarán cada propuesta y su validez, viabilidad y legalidad. A su vez, se analizará el presupuesto estimativo presentado en la misma propuesta. Las propuestas aprobadas se convertirán en proyectos y pasarán a la etapa de ejecución.</li>
        </ul>
      </li>
      <li>
        <strong><u>Uso de la Plataforma web “Lujan de Cuyo Decide”:</u></strong>

        <p>Los participantes podrán acceder y navegar por la plataforma web “Lujan de Cuyo Decide” libremente y de forma anónima. Será posible compartir en otras redes (Facebook, Twitter, Google+) contenido de la plataforma web “Lujan de Cuyo Decide” sin necesidad de registrarse previamente.
        <p>Se podrá participar mediante:</p>
        <ul>
          <li>
            Registro:
            <p>Sólo cuando quieran realizar alguna acción que implique la creación, apoyo, comentario o apoyo de una propuesta, se les solicitará que introduzcan su usuario y contraseña, para cuya obtención será necesario registrarse previamente. El registro, que permitirá participar en cualquiera de las secciones, creando propuestas, apoyándolas o comentándolas, se realizará introduciendo los siguientes datos:</p>
            <ul style="list-style-type:circle">
              <li>Nombre de usuario (nombre público que aparecerá en las publicaciones)</li>
              <li>Correo electrónico</li>
              <li>Contraseña</li>
              <li>Aceptación de las Condiciones de Uso y Políticas de Privacidad y Seguridad de la Plataforma web “Lujan de Cuyo Decide”</li>
            </ul>
            <p>A continuación, el usuario recibirá un correo electrónico con un enlace (link) que le permitirá confirmar su cuenta.<p>
          </li>
          <li>
            Identificación a través de otras redes:
            <p>La Plataforma web “Lujan de Cuyo Decide” también permite la identificación y participación mediante el usuario de Facebook, Twitter y Google+.</p>
          </li>
          <li>
            Personalmente:
            <p>Otra manera de participar en la Plataforma web “Lujan de Cuyo Decide” es acercándose a cualquiera de los Puntos “Lujan de Cuyo Decide” ubicados en sitios estratégicos de la Ciudad, a través de la Oficina Móvil o de relevancia para utilizar los recursos informáticos con los que allí cuenten y así, crear propuestas o votar proyectos de manera presencial. Se destaca que para poder participar a través de estos medios, se deberá contar previamente con una dirección de correo electrónico válida.</p>
          </li>
          <li>
            Figura del gestor:
            <p>La iniciativa “Lujan de Cuyo Decide” permite la participación a través de otros medios, en los que, para la agilización de los procesos se contará con la asistencia de un gestor. El mismo actuará como intermediario, facilitando el proceso de registro (creación de usuario) y la carga de las propuestas y/o apoyos.</p>
            <p>En redes, la creación de propuestas podrá realizarse:</p>
            <ul>
              <li>Mediante Formularios Interactivos ubicados en diferentes sitios web y Facebook, donde quien quiera participar deberá completar los campos requeridos (nombre, correo electrónico, barrio/comuna, categoría –mediante selección desplegable-, propuesta) y aceptar las Condiciones de Uso y Políticas de Privacidad y Seguridad. A continuación, un gestor procederá a crear un usuario para poder cargar la propuesta en la plataforma web. Posteriormente, el usuario recibirá un correo electrónico con un enlace (link) que le permitirá confirmar su cuenta y modificar su contraseña. Si el usuario no confirma su cuenta ni acepta las Condiciones de Uso y Políticas de Privacidad y Seguridad, la propuesta creada será dada de baja sin más trámite antes del comienzo de la etapa de “Apoyo de propuestas”.</li>
              <li>También será posible crear propuestas en la sección de comentarios públicos de las redes sociales dependientes de la Subsecretaría de Comunicación. En estos casos, el usuario recibirá un mensaje en el que se le dará la opción de subir su propuesta a la plataforma web “Lujan de Cuyo Decide” o enviarla por correo electrónico a <a href="mailto:decide@lujandecuyo.gob.ar">decide@lujandecuyo.gob.ar</a>, aclarando nombre y barrio/distrito, para que un gestor realice la carga de la propuesta.</li>
            </ul>
          </li>
          <li>
            Telefónicamente:
            <p>Será posible crear propuestas telefónicamente,  al teléfono de “Lujan de Cuyo Decide” (0261 4989900), a partir de los llamados que realizará el Gobierno de la Municipalidad de Lujan de Cuyo por medio de su call center. En todos estos medios, quien quiera participar podrá contactarse con un gestor, quien le requerirá un nombre de usuario y una dirección de correo electrónico válida.A continuación, el gestor recibirá la propuesta (solicitando además, los siguientes datos: título de la propuesta, resumen, texto desarrollado de misma, enlace a video externo, enlace a documentación adicional, selección de un Distrito, ubicación, categoría y, en caso de estar proponiendo en nombre de una organización o colectivo, identificarla). Luego, el usuario recibirá un correo electrónico que tendrá un enlace (link) para confirmar su cuenta, modificar su contraseña y aceptar las Condiciones de Uso y Políticas de Privacidad y Seguridad. Si el usuario no confirma su cuenta ni acepta las Condiciones de Uso y Políticas de Privacidad y Seguridad, la propuesta creada será dada de baja sin más trámite antes del comienzo de la etapa de “Apoyo de propuestas”.
            </p>
            <p>Asimismo, se podrá participar de la etapa de apoyo telefónicamente, con la asistencia de un gestor. En aquellos casos en los quien desee participar no cuente con un usuario previamente creado, el gestor le requerirá un nombre de usuario y una dirección de correo electrónico válida. Luego, para agilizar los procesos, el mencionado gestor verificará la cuenta para que el correcto cómputo de los apoyos. A continuación, el usuario deberá seleccionar un Distrito, no siendo necesario que sea aquélla en la que reside y luego, los proyectos a los que se decida otorgar apoyos, siempre que la sumatoria de los seleccionados no supere el total de presupuesto asignado a dicho Distrito. Sólo se podrá asignar un apoyo por proyecto y se deberán cumplir los requisitos estipulados en el apartado C. referente a Apoyos.
            </p>
          </li>
          <li>
            Personalmente:
            <p>En aquellos casos en los que la votación se haya realizado personalmente será el gestor quien, para agilizar procesos, creará la cuenta (en caso de ser necesario), verificará la misma y procederá a registrar los apoyos.</p>
            <p>Cabe destacar que el gestor no llevará a cabo tareas de moderación, ni cuestionará la validez ni viabilidad de las propuestas y/o apoyos que recibe.</p>
            <p>El usuario podrá interactuar con la herramienta interviniendo, al menos, de las siguientes formas:</p>
            <ol>
              <li>
                Propuestas
                <p>En el apartado de propuestas el usuario podrá participar mediante:</p>
                <ul>
                  <li>Creación de propuestas: Cada usuario podrá dar de alta una o más propuestas. No existe límite en cuanto al número de propuestas o comentarios a presentar por los participantes. Sin embargo, cada propuesta podrá referirse únicamente a un solo Proyecto.</li>
                  <li>Redacción de la propuesta: Luego de introducir un título de la propuesta, en donde se describe brevemente la misma de un modo claro y preciso, se recomienda desarrollar aquella por medio de una descripción concreta y con lenguaje fácilmente entendible, utilizando un máximo de 2000 caracteres. Deberá hacer detallar el presupuesto del proyecto mediante una descripción básica de los materiales a utilizar y que son el origen del programa y de la mano de obra que estará a cargo de la Entidad Civil. Para completar la argumentación se podrán vincular documentos introduciendo el enlace correspondiente siempre que se encuentren subidos a Internet, o introduciendo un enlace al contenido situado en diferentes Redes Sociales (Vimeo, Facebook, Twitter, Pinterest, Youtube, Slideshare, Flickr, etc).</li>
                  <li>Describir cual es la Entidad Civil que elabora la propuesta y que será implementada por ella.</li>
                  <li>Describir quien es la máxima autoridad de la Entidad Civil.</li>
                  <li>Compartir el contenido de la plataforma web “Lujan de Cuyo Decide” en otras redes sociales (Facebook, Twitter, Google+).</li>
                </ul>
              </li>
              <li>
                Apoyo de Propuestas
                <p>Se podrán apoyar las propuestas creadas por otros usuarios. Las propuestas aparecerán con el número de apoyos recibidos. Cada usuario podrá exclusivamente apoyar una vez a una misma propuesta y hasta un máximo de 10 propuestas. Cada propuesta podrá ser comentada por el resto de usuarios, pudiendo argumentar las razones del apoyo.</p>
                <p>En este apartado de apoyos el usuario podrá participar:</p>
                <ul>
                  <li>Apoyando  cualquiera de los proyectos presentados en la etapa de propuestas</li>
                  <li>Cada usuario podrá apoyar proyectos en un Distrito a su elección, pudiendo apoyar en cualquier Distrito y no siendo necesario que lo haga en aquélla a la cual pertenece. Podrá votar cualquier persona mayor de 16 años siempre y cuando cuente con domicilio actualizado en el DNI en la Municipalidad de Lujan de Cuyo y, a su vez, tenga capacidad para ejercer derechos políticos en dicha jurisdicción. Dicha información se verificará a través de la Dirección General del Estado Civil y Capacidad de las Personas, dependiente del Ministerio de Gobierno de la Nación. Para ello, será necesario que en esta etapa el usuario verifique su domicilio, debiendo introducir a tales efectos su género y número de DNI.</li>
                </ul>
              </li>
            </ol>
          </li>
        </ul>
      </li>
      <li>
        <strong><u>Cuestiones de Procedimiento:</u></strong>

        <ol>
          <li>
            Admisibilidad de las propuestas
            <p>Para la admisibilidad de las mismas éstas deben ser propuestas de inversión que el usuario considere que pueden ser llevadas a cabo por el Gobierno de la Municipalidad de Lujan de Cuyo.</p>
            <p>A su vez, deben quedar comprendidas dentro de lo referente a espacios de uso público.</p>
            <p>Las propuestas que cumplan con estos requisitos serán publicadas automáticamente.</p>
          </li>
          <li>
            Validez de las propuestas
            <p>Para la consideración acerca de su validez, los requisitos que deben cumplir las propuestas son:</p>
            <ul>
              <li>No constituir/implicar un gasto corriente.</li>
              <li>No superar el presupuesto disponible. El presupuesto será de hasta 10 Millones de Pesos y se dividirá entre las 100 propuestas que cumplan con las condiciones de aceptabilidad de propuestas.</li>
              <li>No ser contrarias a ninguna ley y/o normativa vigente.</li>
              <li>Estar incluidas en el tipo de proyecto definido y que es el de mejora en los espacios de uso público.</li>
              <li>Solo podrán realizar postulaciones las personas jurídicas que cumplan los requisitos básicos establecidos precedentemente.</li>
              <li>Las postulación de los predios podrá realizarse desde el 20 de enero y hasta el 28 de febrero de 2018 en forma digital a través de la plataforma decide.lujandecuyo.gob.ar </li>
              <li>Cada postulación debe identificar correctamente el espacio a intervenir, acompañando la propuesta de intervención con un detalle pormenorizado de las obras a ejecutar y un presupuesto total de la intervención desglosando cada rubro.</li>
              <li>Cada entidad podrá presentar más de una propuesta de intervención, de las cuales se seleccionara solo una.</li>
              <li>Todos los predios postulados deben contar con acceso público y ser del dominio público del Estado Municipal o en el caso de ser un predio privado de la entidad, demostrar fehacientemente su uso y carácter comunitario.</li>
              <li>Ser de interés general para la Comuna que se verá afectada con la propuesta.</li>
              <li>Corresponder a la jurisdicción de la Municipalidad de Lujan de Cuyo.</li>
              <li>Ser competencia del Gobierno de la Municipalidad de Lujan de Cuyo y a su vez, no ser igual o similar o, en su caso, superponerse con un proyecto que el Gobierno esté ejecutando o tenga programado ejecutar.</li>
              <li>No ser contrarias a la moral y las buenas costumbres.</li>
            </ul>
            <p>Las propuestas que cumplan estos requisitos, hayan pasado por el proceso de moderación y a su vez cuenten con los apoyos necesarios, serán analizadas por las áreas técnicas correspondientes, quienes estimarán sus costos y determinarán si son viables o no. Sólo aquellas que hayan sido consideradas como viables en esta última evaluación pasarán a la etapa de implementación.</p>
          </li>
          <li>
            Reclasificación de propuestas
            <p>Durante las etapas de creación de propuestas y evaluación de las mismas, puede darse la reclasificación de las mismas por corresponder a otro ámbito (por ejemplo una propuesta etiquetada en un Distrito determinada que correspondía realmente a otra), por lo que en la fase final de apoyo aparecerán en la nueva sección que se haya considerado correspondiente.</p>
          </li>
          <li>
            Inviabilidad de propuestas
            <p>Durante la primera fase de creación de propuestas, según se reciban éstas, los técnicos de la Plataforma web “Lujan de Cuyo Decide” someterán las mismas a un proceso de moderación para detectar las que fueran claramente inviables. Los moderadores tendrán la facultad de contactarse con el autor de la propuesta inviable, para invitarlo a reformular la misma.</p>
            <p>Acabado dicho proceso de moderación de propuestas y su consiguiente etapa de formulación de apoyos, se pasará a la fase de análisis. En ella se realizará un nuevo estudio de viabilidad mucho más detallado y de costo de las propuestas.</p>
            <p>La complejidad de dichos estudios en comparación con los realizados en las primeras fases implicará que sólo sea posible realizarlo para una parte de todas las propuestas presentadas. Los estudios se realizarán en el orden de apoyos decidido por la gente en la fase anterior y por categoría, desde las propuestas más apoyadas a las menos apoyadas por categoría, intentando que hubiera un número de propuestas viables similar en cada Comuna.</p>
            <p>Todos los análisis de viabilidad y de coste serán realizados por las áreas técnicas del Gobierno Municipalidad de Lujan de Cuyo competentes a la temática de cada propuesta. El estudio se efectuará de manera independiente y neutral, atendiendo únicamente a los criterios de evaluación que se han marcado públicamente para el proceso.</p>
            <p>Las propuestas que fueran marcadas como viables se convierten en proyectos y pasan a la fase de votación final.</p>
          </li>
          <li>
            Propuestas Repetidas
            <p>Durante la primera fase de creación de propuestas, es probable que se detecten propuestas repetidas o muy similares. Los moderadores tendrán la facultad de recopilar todas las propuestas repetidas, contactar a sus autores y brindarles la posibilidad de retirar su propuesta y/o sugerirles alguna propuesta que por su amplia formulación se considerase podría representar correctamente a las demás. En el caso de que algún autor quisiera mantener su propuesta a pesar de ser similar a otras, el Gobierno de la Municipalidad de Lujan de Cuyo respetará su decisión.</p>
            <p>En la fase de análisis, los técnicos de las áreas competentes del Gobierno de la Municipalidad de Lujan de Cuyo deberán revisar propuestas que, en el caso de ser aprobadas, implicarían exactamente la misma actuación por parte del Gobierno de la Municipalidad de Lujan de Cuyo. En dicho caso serán marcadas como inviables todas las propuestas, a excepción de la que cuente con mayor número de apoyos en la anterior fase, señalándolo así en el informe de inviabilidad.</p>
            <p>El Municipio de Lujan de Cuyo se reserva el derecho de descartar en cualquier etapa del desarrollo de la iniciativa “Lujan de Cuyo Decide” toda aquella propuesta y/o proyecto que revista los requisitos para ser inválida y/o inviable según lo estipulado en las presentes Condiciones de Uso, en las Preguntas Frecuentes correspondientes y/o por cualquier otro motivo o causa externa o de fuerza mayor.</p>
          </li>
          <li>
            Selecciones de PREDIO y PROPUESTAS
            <p>La selección del predio y propuestas presentadas será realizada por un comité técnico conformado por aquéllas áreas del Departamento Ejecutivo Municipal que resulten pertinentes en función de cada proyecto.</p>
            <p>Para seleccionar los 100 predios y propuestas a realizar se establece un sistema de elección por puntaje a cargo del comité técnico. Siendo 5 las variables a tener en cuenta, debiendo el comité puntuar cada variable del 1 al 10.</p>
            <ol>
              Las variables son:
              <li>Impacto Social directo cantidad de población beneficiada por la intervención en forma directa y cotidiana. Podrá tenerse en consideración el apoyo brindado en la aplicación web decide.lujandecuyo.gob.ar. (Ej: Si la obra o acción propuesta beneficia a muy pocas personas, recibirá un puntaje menor que otra obra que beneficie a más personas)</li>
              <li>Distancia a otro espacio de similares prestaciones a la obra que se pretende ejecutar. (Ej: Si lo que se propone es una cancha de futbol y ya existe una cercana, el puntaje en esta variable será bajo)</li>
              <li>Existencia de servicios públicos en el predio. El Predio debe contar con los servicios mínimos que permitan la ejecución de la obra sin que para ello el municipio tenga que realizar una obra conexa, contando además con los servicios mínimos que garanticen su mantenimiento luego de concluida. Ej: Si se postula un predio que no tiene servicio de electricidad y la obra propuesta requiere iluminación, el puntaje será bajo en esta variable)</li>
              <li>Factibilidad Técnica: La elaboración del proyecto a realizar debe ser viable técnicamente. Cumpliendo las normas constructivas y/o las que se deban aplicar al proyecto presentado.  (Ej: si la obra es técnicamente de difícil ejecución de modo que ponga en riesgo o en duda su real ejecución recibirá un puntaje bajo.)</li>
              <li>Factibilidad económica.  El presupuesto presentado debe contemplar cada uno de los gastos necesario para la culminación total de la intervención, debiendo tener un valor real de mercado en cada uno de sus ítems. Por otro lado el presupuesto debe contemplar la finalización integra de la obra, no pudiendo presentar proyectos para obras o intervenciones parciales.  Ej: si el presupuesto presentado no contempla todos los gastos que la obra propuesta comúnmente tiene aparejado o si el mismo presupuesto tiene valores que exceden por mucho su valor de mercado o por el contrario se encuentra muy por debajo del mismo, recibirá en esta variable un puntaje bajo, llegando incluso a ser descartado)</li>
            </ol>
            <p>En ningún caso los fondos que resulten entregados por el subsidio podrán ser destinados o afectados al pago de mano de obra u honorarios profesionales, debiendo destinarse los mismos en su integridad a la adquisición de materiales o insumos para las obras necesarias.</p>
          </li>
          <li>
            Propuestas de intervención.
            <p>El comité técnico deberá expedirse antes del 23 de Marzo de 2018, seleccionando en orden de puntaje los 100 predios con sus intervenciones.</p>
          </li>
          <li>
            Ejecución
            <p>La ejecución de las intervenciones comenzará inmediatamente recibido el subsidio o primer desembolso del mismo según corresponda.</p>
            <p>Recepción y Rendición del Subsidio:</p>
            <p>El subsidio será regido en su entrega y rendición siguiendo lo establecido en el Acuerdo N°2514/97 del Honorable Tribunal de Cuentas de la Provincia y sus modificatorios y Decreto 429/2016</p>
            <p>A tal fin, los postulantes deberán suscribir la documentación necesaria en la que conste:</p>
            <ul>
              <li>Identificación de la entidad receptora y su representante</li>
              <li>Identificación del responsable de rendición de cuentas</li>
              <li>Domicilio legal y especial del receptor</li>
              <li>Copia de notificación de la normativa aplicable suscripta por el receptor y persona encargada de rendir cuentas</li>
              <li>Formulario y documentación referida al proyecto, suscripta por el receptor del subsidio y determinación de la finalidad y destino de los fondos (el que no podrá afectarse de ningún modo a mano de obra u honorarios profesionales).</li>
              <li>Determinación del plazo de ejecución de las obras de cada proyecto no podrá exceder de 60 días. El plazo para la rendición de cuentas parcial y final, no podrá ser mayor a 30 días a partir de la recepción del subsidio.</li>
              <li>Al rendirse los fondos desembolsados en el plazo establecido anteriormente, deberán también ser devueltos a la Municipalidad, los fondos remanentes de la inversión, si los hubiere.</li>
              <li>Al suscribir la documentación se acepta que la propiedad de los  bienes a adquirir e invertir con los fondos del subsidio serán propiedad de la Municipalidad de Luján de Cuyo, cuando los mismos sean colocados en un espacio público.</li>
            </ul>
          </li>
        </ol>
      </li>
      <li>
        <strong><u>Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</u></strong>

        <p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido a la Plataforma web “Lujan de Cuyo Decide” como a cualquier contenido que se envíe con posterioridad o se manifieste al Gobierno de la Municipalidad de Lujan de Cuyo, debiendo destacarse lo siguiente:</p>
        <ul>
          <li>No Confidencialidad: Todo el contenido remitido por el usuario al Gobierno de la Municipalidad de Lujan de Cuyo deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Gobierno de la Municipalidad de Lujan de Cuyo tratará el citado contenido como información no confidencial.</li>
          <li>Procedimiento: En el caso de que el Gobierno de la Municipalidad de Lujan de Cuyo esté interesado en el contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente Acuerdo de Confidencialidad.
            El Gobierno de la Municipalidad de Lujan de Cuyo se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en las “Políticas de Privacidad y Seguridad”. En el supuesto que el Gobierno de la Municipalidad de Lujan de Cuyo, a su entera discreción, decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Gobierno de la Municipalidad de Lujan de Cuyo no adquiere compromiso alguno.
          </li>
          <li>Publicidad o difusión de los contenidos presentados: Los participantes en la Plataforma web “Lujan de Cuyo Decide” del Gobierno de la Municipalidad de Lujan de Cuyo declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en las páginas web administradas por el Gobierno de la Municipalidad de Lujan de Cuyo, así como a través de otros medios que el Gobierno de la Municipalidad de Lujan de Cuyo considere oportunos para dar a conocer esta iniciativa. Asimismo, aceptan que el contenido pueda ser compartido en otras redes sociales (Facebook, Twitter, Google+) por otros usuarios y/o terceros.</li>
          <li>No devolución material: El Gobierno de la Municipalidad de Lujan de Cuyo carece de obligación alguna de devolver el Contenido remitido por los usuarios.</li>
          <li>Procedimiento de aviso y retirada: Cualquier persona, con motivos razonados, si existiese incumplimiento de las presentes Condiciones de Uso, podrá solicitar la retirada de contenidos al Gobierno de la Municipalidad de Lujan de Cuyo. El Gobierno de la Municipalidad de Lujan de Cuyo procesará las peticiones de eliminación o retirada de contenidos que hayan añadido los participantes que incumplan las presentes Condiciones de Uso. Éste se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
          <li>Titularidad de los derechos de propiedad intelectual e industrial: El usuario que aporta el Contenido declara, con la aceptación de las Condiciones de Uso, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además, lo remite al Gobierno de la Municipalidad de Lujan de Cuyo de forma gratuita y voluntaria, mediante la correspondiente instrumentación, para su divulgación en la plataforma web de “Lujan de Cuyo Decide” del Gobierno de la Municipalidad de Lujan de Cuyo.</li>
        </ul>
        <p>Por el hecho de cargar o enviar material o contenido de cualquier naturaleza para ser usado en la plataforma web “Lujan de Cuyo Decide”, el usuario concede (o garantiza que el titular de tal material o contenido ha cedido expresamente) al Gobierno de la Municipalidad de Lujan de Cuyo sus derechos de propiedad intelectual e industrial y/o licencia, general, libre de todo cargo, irrevocable y no exclusiva para usar ese material o contenido, confiriendo además el derecho para contratar, utilizar, reproducir, modificar, adaptar, publicar, reproducir o presentar públicamente, presentar o traducir digitalmente, crear trabajos derivados y distribuir dichos materiales o incorporarlos a cualquier forma, medio, o tecnología conocida o por conocer. Luego de analizar cada propuesta en concreto, el Gobierno de la Municipalidad de Lujan de Cuyo, se reserva la facultad de citar al usuario para la suscripción del contrato correspondiente.</p>
        <p>El usuario acepta que cualquier tipo de información, incluyendo las propuestas, sugerencias, planes, ideas, conceptos, experiencias, técnicas, comentarios, preguntas o respuestas, que facilite a través de la plataforma web “Lujan de Cuyo Decide” no sea confidencial y que por tanto el Gobierno de la Municipalidad de Lujan de Cuyo posee derechos de carácter ilimitado para usar o no usar, distribuir o no distribuir, reproducir o no reproducir, y revelar o no revelar dicha información de la forma y modo que el Gobierno de la Municipalidad de Lujan de Cuyo pueda considerar apropiado, con cualquier fin o propósito que, de alguna manera, sean fruto de dicha información, sin que ello genere derecho a indemnización o compensación alguna ni a reconocimiento de su fuente.</p>
        <p>El Gobierno de la Municipalidad de Lujan de Cuyo no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el consentimiento de sus legítimos titulares.</p>
      </li>
      <li>
        <strong><u>Jurisdicción</u></strong>

        <p>Las personas que participen en la Plataforma web “Lujan de Cuyo Decide” se comprometen a solucionar amigablemente con el Gobierno de la Municipalidad de Lujan de Cuyo, las diferencias que se pudieran presentar sobre cualquier aspecto relativo a la interpretación y/o desarrollo de dicha plataforma web. De no ser ello posible se someten a la competencia de los Tribunales Ordinarios de la Primera Circunscripción Judicial de la provincia de Mendoza, con renuncia expresa a cualquier otro fuero y/o jurisdicción que pudiere corresponderles.</p>
      </li>
      <li>
        <strong><u>Revisión/modificación de las Condiciones de Uso</u></strong>
        <p>El Gobierno de la Municipalidad de Lujan de Cuyo se reserva el derecho de revisar y/o modificar las presentes Condiciones de Uso y las Políticas de Privacidad y Seguridad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando la plataforma web “Lujan de Cuyo Decide”, se entenderán aceptadas las modificaciones introducidas.</p>
      </li>
    </ol>
    </br>
    <h4><strong>Lujan de Cuyo Decide</strong></h4>
    <p>
      Este sitio utiliza la aplicación aplicación Consul que es <a href="http://www.gnu.org/licenses/agpl-3.0.html">software libre</a>. Para asistencia técnica hacé <a href="https://github.com/consul/consul">click aquí</a></br>
      </br>
      <strong>Información de Contacto</strong></br>
      +54 0261 498-9900</br>
      <a href="mailto:decide@lujandecuyo.gob.ar">decide@lujandecuyo.gob.ar</a>
    </p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
