<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <p>Las presentes Políticas de Privacidad y Seguridad tienen por objeto establecer los criterios para el uso de la plataforma web “Lujan de Cuyo Decide”, que el Gobierno de la Municipalidad de Lujan de Cuyo, con domicilio en Av. San Martin 250, Lujan de Cuyo, Mendoza, pone a disposición de los Ciudadanos.</p>
    <p>El Gobierno de la Municipalidad de Lujan de Cuyo proporciona a los usuarios los recursos técnicos adecuados para que tomen conocimiento de las presentes Políticas de Privacidad y Seguridad, y de cualquier otra información que pueda ser relevante, constituyendo el ingreso de datos personales o información confidencial en el sitio, la manifestación expresa de su consentimiento a la presente.</p>
    <p>Las presentes políticas describen:</p>
    <ul>
      <li>La existencia del archivo, registro, base o banco de datos, electrónico o de cualquier otro tipo de que se trate y el domicilio de su responsable.</li>
      <li>Cuáles son los datos recolectados, cómo son utilizados y la finalidad para la que serán tratados.</li>
      <li>El carácter obligatorio o facultativo de la respuesta a las preguntas que le sean formuladas.</li>
      <li>Las consecuencias que deriven de proporcionar los datos, de la negativa de hacerlo o de la inexactitud de los mismos.</li>
      <li>Cuáles son las opciones que el Gobierno de la Municipalidad de Lujan de Cuyo ofrece en cuanto a la facultad y modo de ejercer los derechos de acceso, rectificación, actualización y supresión de los datos.</li>
    </ul>
    <p>Se alienta a los padres o representantes de menores o incapaces a la supervisión de las personas a su cargo en relación a las actividades que éstos realicen en internet, debido a que los mismos pueden no alcanzar a comprender debidamente las presentes Políticas de Privacidad como sus implicancias.</p>
    <p>La protección de la privacidad de los usuarios es sumamente importante para el Gobierno de la Municipalidad de Lujan de Cuyo, por ello, independientemente de si se tratare de un usuario novato, o avanzado, se recomienda leer la presentes Políticas de Privacidad y Seguridad, y ante cualquier duda, o consulta, ponerse en contacto llamando al 4989900.</p>
    <h3>Datos recolectados:</h3>
    <p>La navegación por la información disponible en la página plataforma web “Lujan de Cuyo Decide” es anónima.</p>
    <p>Para utilizar los servicios contenidos en la plataforma web “Lujan de Cuyo Decide” el usuario deberá registrarse y proporcionar previamente los datos requeridos en el formulario. En caso de no completar alguno de los campos requeridos, el usuario visualizará una leyenda que indicando el carácter obligatorio del/de los mismos.</p>
    <p>Los datos aportados serán tratados de acuerdo con la siguiente descripción:</p>
    <ul>
      <li>
        Finalidad del tratamiento: Cumplimiento de los objetivos de la plataforma web según se indique en las Condiciones de Uso, esto es, gestionar los procesos participativos para el control de la habilitación de las personas que participan activamente y apoyan en los mismos y el recuento meramente numérico y estadístico de los resultados derivados de los procesos de participación ciudadana, así como enviar correos electrónicos sobre noticias de interés y demás novedades relativas al Gobierno de la Municipalidad de Lujan de Cuyo. Se reitera entonces que, al aceptar las Condiciones de Uso y las presentes Políticas de Privacidad y Seguridad, los usuarios que se hayan registrado, podrán recibir información relacionada con los temas tratados en la plataforma web “Lujan de Cuyo Decide”, así como noticias de interés. Cualquier información o material que los usuarios envíen y/o publiquen por medio de la plataforma web “Lujan de Cuyo Decide” tales como propuestas, preguntas, comentarios, sugerencias o similares, será considerada como no confidencial, por lo que el Gobierno de la Municipalidad de Lujan de Cuyo no tiene obligación de tratar tal información en forma confidencial y tiene libertad de utilizar cualquier idea, concepto, conocimiento o contenido que se incorpore en esa información o material.
        La información personal no será vendida o transferida a otras organizaciones, y no se entregará a empresas de publicidad.
        Como principio general, la plataforma web “Lujan de Cuyo Decide” no comparte ni revela información obtenida, excepto cuando haya sido autorizada por el usuario y/o cuando así lo establezca la Ley Nacional N° 25.326 de Protección de Datos Personales
      </li>
      <li>Órgano responsable: Secretaría de Modernización (San Martin 250, Lujan de Cuyo, Mendoza)</li>
      <li>En cada formulario se pondrá en evidencia cuáles datos son de carácter obligatorio y cuáles de carácter facultativo, lo anterior con base en las características y las Condiciones de Uso de la plataforma web “Lujan de Cuyo Decide”. Otro tipo de información puede ser facilitada de manera voluntaria por los usuarios por medio de encuestas o cuestionarios, lo cual depende exclusivamente de la voluntad de los usuarios.</li>
      <li>
        No serán válidos para participar dentro de la plataforma web “Lujan de Cuyo Decide” todos aquellos formularios de registro que se encuentren incompletos. Es requisito para participar en las distintas etapas de “Lujan de Cuyo Decide” (generación de propuestas, apoyos, comentarios y/o compartir contenido en otras redes) que todos y cada uno de los datos indicados sean verdaderos, exactos, vigentes y auténticos. Se considerará inválido cualquier intento de participación que incluya datos erróneos, inexactos, incompletos y/o fraudulentos. Si se hicieran cambios materiales en la forma en que la Información Personal es administrada se notificará a través de una versión actualizada de las Políticas en esta sección y/o mediante un aviso al inicio de la página al ingresar a la cuenta de “Lujan de Cuyo Decide” para que el titular pueda tomar una decisión informada para aceptar o no que la Información Personal sea utilizada de esa forma. En caso de no aceptar esos términos, quedará disuelto el vínculo y la Información Personal no será usada de otra forma que la que fue informada al momento de recabarse.
      </li>
      <li>El Gobierno de la Municipalidad de Lujan de Cuyo reconoce al Titular de los Datos Personales, previa acreditación de su identidad, el derecho a solicitar y a obtener información sobre sus datos personales incluidos en sus registros, dentro de los diez días hábiles desde la solicitud, de conformidad con lo establecido en la Ley Nacional N° 25.326 de Protección de Datos Personales.</li>
      <li>
        El Gobierno de la Municipalidad de Lujan de Cuyo garantiza también al Titular de los Datos Personales el derecho a obtener la rectificación, actualización y, cuando corresponda, la supresión de los datos personales de  los que sea titular, que estén incluidos en su banco de datos y garantiza la rectificación, supresión o actualización de los mismos en el plazo máximo de cinco días hábiles de recibido el reclamo del titular de los datos. En cumplimiento de la disposición 10/2008 de la Dirección Nacional de Protección de Datos Personales se hace saber que:
        <ul>
          <li>El Titular de los Datos Personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita y en intervalos no inferiores a seis meses, salvo que acredite un interés legítimo al efecto, conforme con lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.</li>
          <li>Los derechos de acceso y rectificación de datos, se podrán ejercer a través de un correo electrónico dirigido a <a href="mailto:decide@lujandecuyo.gob.ar">decide@lujandecuyo.gob.ar</a> a requerimiento del titular de los datos sin costo alguno. Para ello se deberá remitir un correo electrónico a la dirección mencionada, con el asunto “Informar”, “Rectificar”, “Suprimir” y/o “Actualizar” según corresponda, conjuntamente con el objeto del requerimiento.</li>
        </ul>
      </li>
    </ul>

    <h3>Seguridad:</h3>

    <p>El Gobierno de la Municipalidad de Lujan de Cuyo mantendrá absoluta confidencialidad de los datos personales.</p>
    <p>En particular:</p>
    <ul>
      <li>Se encriptan muchos de nuestros servicios mediante el protocolo SSL (Secure Socket Layer o capa de puertos seguros). El certificado SSL sirve para brindar seguridad al visitante de la plataforma web, generando un sitio seguro y confiable para ingresar datos personales.</li>
      <li>Se revisa constantemente la política en materia de recolección, almacenamiento y tratamiento de datos, incluyendo las medidas de seguridad físicas, para impedir el acceso no autorizado a nuestros sistemas.</li>
      <li>Se limita el acceso de los contratistas, los agentes y los empleados de Gobierno de la Municipalidad de Lujan de Cuyo a la información personal que deben procesar para el Gobierno de la Municipalidad de Lujan de Cuyo y se asegura que cumplan las estrictas obligaciones de confidencialidad contractuales y de que estén sujetos a las condiciones disciplinarias pertinentes o al despido si no cumplen dichas obligaciones.</li>
    </ul>

    <h3>Jurisdicción:</h3>

    <p>Las personas que participen en la Plataforma web “Lujan de Cuyo Decide” se comprometen a solucionar amigablemente con el Gobierno de la Municipalidad de Lujan de Cuyo, las diferencias que se pudieran presentar sobre cualquier aspecto relativo a la interpretación y/o desarrollo de dicha plataforma web. De no ser ello posible se someten a la competencia de los Tribunales Ordinarios de la Primera Circunscripción Judicial de la provincia de Mendoza, con renuncia expresa a cualquier otro fuero y/o jurisdicción que pudiere corresponderles.</p>

    <h3>Modificaciones:</h3>
    <p>El Gobierno de la Municipalidad de Lujan de Cuyo se reserva el derecho de revisar y/o modificar las presentes Políticas de Privacidad y Seguridad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados a través de este espacio en línea y, si continúan utilizando la plataforma web “Lujan de Cuyo Decide”, se entenderán aceptadas las modificaciones introducidas.</p>
    </br>
    <h4><strong>Lujan de Cuyo Decide</strong></h4>
    <p>
      Este sitio utiliza la aplicación aplicación Consul que es <a href="http://www.gnu.org/licenses/agpl-3.0.html">software libre</a>. Para asistencia técnica hacé <a href="https://github.com/consul/consul">click aquí</a></br>
      </br>
      <strong>Información de Contacto</strong></br>
      +54 0261 498-9900</br>
      <a href="mailto:decide@lujandecuyo.gob.ar">decide@lujandecuyo.gob.ar</a>
    </p>
  </div>
  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>
