<h2><%= t("moderation.proposals.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "moderation.proposals.index" %>

<div class="row">
  <h3 class="small-8 large-8 columns"><%= page_entries_info @proposals %></h3>
  <div class="small-4 large-4 columns">
    <div class="float-right">
      <%= t("moderation.proposals.index.order") %>
      <%= render 'shared/order_selector', i18n_namespace: "moderation.proposals.index" %>
    </div>
  </div>
</div>

<%= form_tag moderate_moderation_proposals_path(request.query_parameters), method: :put do %>
  <p class="js-check">
    <%= t('shared.check') %>:
    <%= link_to t('shared.check_all'), '#', data: {check_all: "proposal_ids[]"} %>
    |
    <%= link_to t('shared.check_none'), '#', data: {check_none: "proposal_ids[]"} %>
  </p>

  <table class="clear">
    <tr>
      <th>
        <%= t("moderation.proposals.index.headers.proposal") %>
      </th>
      <th>
       <%= t("moderation.proposals.index.headers.moderate") %>
      </th>
      <th>
        Aprobada
      </th>
      <th>
        Archivada
      </th>
    </tr>
    <% @proposals.each do |proposal| %>
      <tr id="proposal_<%= proposal.id %>">
        <td>
          <%= link_to proposal.title, proposal, target: "_blank" %>
          <br>
          <span class="date"><%= l proposal.updated_at.to_date %></span>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= proposal.flags_count %><span class="icon-flag flag-disable"></span>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= proposal.author.username %>
          <br>
          <div class="moderation-description">
            <%= proposal.description %>
          </div>
        </td>
        <td class="text-center">
          <%= check_box_tag "proposal_ids[]", proposal.id, nil, id: "#{dom_id(proposal)}_check" %>
        </td>
        <td class="text-center">
          <%= check_box_tag "id", proposal.id, proposal.is_approved, class: "chech_approve", disabled: proposal.is_archived %>
        </td>
        <td class="text-center">
          <%= check_box_tag "id", proposal.id, proposal.is_archived, class: "chech_archive", disabled: proposal.is_approved %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag t('moderation.proposals.index.block_authors'),
    name: "block_authors",
    class: "button hollow alert",
    data: {confirm: t('moderation.proposals.index.confirm')}
  %>

  <div class="float-right">
    <%= submit_tag t('moderation.proposals.index.hide_proposals'),
      name: "hide_proposals",
      class: "button hollow alert",
      data: {confirm: t('moderation.proposals.index.confirm')}
    %>
    <%= submit_tag t('moderation.proposals.index.ignore_flags'),
      name: "ignore_flags",
      class: "button hollow",
      data: {confirm: t('moderation.proposals.index.confirm')}
    %>
  </div>

  <%= paginate @proposals %>

<% end %>

<script>
  $(function(){
    var alertSuccessHtml = '<div data-closable class="callout notice-container success radius" style="position:fixed">';
    alertSuccessHtml += 'La propuesta ha sido actualizada';
    alertSuccessHtml += '<button class="close-button" aria-label="Dismiss alert" type="button" data-close>';
    alertSuccessHtml += '<span aria-hidden="true">&times;</span>';
    alertSuccessHtml += '</button>';
    alertSuccessHtml += '</div>';

    var alertErrorHtml = '<div data-closable class="callout notice-container error radius" style="position:fixed">';
    alertErrorHtml += 'No fue posible actualizar la propuesta';
    alertErrorHtml += '<button class="close-button" aria-label="Dismiss alert" type="button" data-close>';
    alertErrorHtml += '<span aria-hidden="true">&times;</span>';
    alertErrorHtml += '</button>';
    alertErrorHtml += '</div>';

    $('.chech_approve').on('change', function(){
      var $this = $(this);
      var data = {
        proposal: {}
      };
      data.proposal.id = $this.val();
      data.proposal.is_approved = $this.is(':checked');

      if(data.proposal.is_approved){
        $this.parent().parent().find('.chech_archive').attr("disabled", true);
      }

      $.ajax({
        data: data,
        dataType: 'json',
        url: '/proposals/' + data.proposal.id + '/approve',
        method: 'POST',
        success: function(doc){
          console.log('success');
          if(!data.proposal.is_approved){
            $this.parent().parent().find('.chech_archive').removeAttr("disabled");
          }
          $('body').append(alertSuccessHtml);
        },
        error: function(err){
          $('body').append(alertErrorHtml);
          if(data.proposal.is_approved){
            $this.parent().parent().find('.chech_archive').removeAttr("disabled");
          }
          console.log('error', err.responseText);
        }
      })

    });

    $('.chech_archive').on('change', function(){
      var $this = $(this);
      var data = {
        proposal: {}
      };
      data.proposal.id = $this.val();
      data.proposal.is_archived = $this.is(':checked');

      if(data.proposal.is_archived){
        $this.parent().parent().find('.chech_approve').attr("disabled", true);
      }

      $.ajax({
        data: data,
        dataType: 'json',
        url: '/proposals/' + data.proposal.id + '/archive',
        method: 'POST',
        success: function(doc){
          console.log('success');
          if(!data.proposal.is_archived){
            $this.parent().parent().find('.chech_approve').removeAttr("disabled");
          }
          $('body').append(alertSuccessHtml);
        },
        error: function(err){
          $('body').append(alertErrorHtml);
          if(data.proposal.is_archived){
            $this.parent().parent().find('.chech_approve').removeAttr("disabled");
          }
          console.log('error', err.responseText);
        }
      })

    });
  });
</script>
