<% provide :title do %><%= t("devise_views.organizations.registrations.new.title") %><% end %>
<h2><%= t("devise_views.organizations.registrations.new.title") %></h2>

 <%= form_for(@organization, as: :organization, url: organization_registration_path(@organization), html: { method: :put }) do |f| %>
   <%= render 'shared/errors', resource: @organization %>
   <div class="row">
     <div class="small-12 column">
      <%= f.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("devise_views.organizations.registrations.new.organization_name_label") %>
      <%= f.label :responsible_name %>
      <p class="help-text" id="responsible-name-help-text"><%= t("devise_views.organizations.registrations.new.responsible_name_note") %></p>
      <%= f.text_field :responsible_name, placeholder: t("devise_views.organizations.registrations.new.responsible_name_label"),
                                           maxlength: Organization.responsible_name_max_length, label: false,
                                           aria: {describedby: "responsible-name-help-text"} %>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit t("devise_views.organizations.registrations.new.submit"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
