<% provide :title do %><%= t('proposals.approved.title') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: approved_proposals_url %>
<% end %>

<main>
  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">
      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <% @proposals.each do |proposal| %>
            <div id="<%= dom_id(proposal) %>"
                 class="proposal clear <%= ("successful" if proposal.is_approved) %>"
                 data-type="proposal">
              <div class="panel <%= ('with-image' if feature?(:allow_images) && proposal.image.present?) %>">
                <div class="icon-successful"></div>

                <% if feature?(:allow_images) && proposal.image.present? %>
                  <div class="row" data-equalizer>

                    <div class="small-12 medium-3 large-2 column text-center">
                      <div data-equalizer-watch>
                        <%= image_tag proposal.image_url(:thumb), alt: proposal.image.title %>
                      </div>
                    </div>

                    <div class="small-12 medium-6 large-7 column">
                <% else %>
                  <div class="row">
                    <div class="small-12 medium-9 column">
                  <% end %>
                    <div class="proposal-content">
                      <% cache [locale_and_user_status(proposal), 'index', proposal, proposal.author] do %>
                        <h3><%= link_to proposal.title, namespaced_proposal_path(proposal) %></h3>
                        <p class="proposal-info">
                          <span class="icon-comments"></span>&nbsp;
                          <%= link_to t("proposals.proposal.comments", count: proposal.comments_count), namespaced_proposal_path(proposal, anchor: "comments") %>

                          <span class="bullet">&nbsp;&bull;&nbsp;</span>
                          <%= l proposal.created_at.to_date %>

                          <% if proposal.author.hidden? || proposal.author.erased? %>
                            <span class="bullet">&nbsp;&bull;&nbsp;</span>
                            <span class="author">
                              <%= t("proposals.show.author_deleted") %>
                            </span>
                          <% else %>
                            <span class="bullet">&nbsp;&bull;&nbsp;</span>
                            <span class="author">
                              <%= proposal.author.name %>
                            </span>
                            <% if proposal.author.display_official_position_badge? %>
                              <span class="bullet">&nbsp;&bull;&nbsp;</span>
                              <span class="label round level-<%= proposal.author.official_level %>">
                                <%= proposal.author.official_position %>
                              </span>
                            <% end %>
                          <% end %>

                          <% if proposal.author.verified_organization? %>
                            <span class="bullet">&nbsp;&bull;&nbsp;</span>
                            <span class="label round is-association">
                              <%= t("shared.collective") %>
                            </span>
                          <% end %>
                        </p>
                        <div class="proposal-description">
                          <p><%= proposal.summary %></p>
                          <div class="truncate"></div>
                        </div>
                        <%= render "shared/tags", taggable: proposal, limit: 5 %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>
        <%= paginate @proposals %>


      </div>
    </div>
  </div>
</main>
