<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
      <br>
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <%= avatar_image(@account, seed: @account.id, size: 100, class: "margin-bottom") %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-7 column">

          <h2><%= t("account.show.personal")%></h2>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("account.show.organization_name_label") %>
                <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length, placeholder: t("account.show.organization_responsible_name_placeholder") %>
              <% end %>
              <%= f.text_field :phone_number, placeholder: t("account.show.phone_number_label") %>

            <% else %>
              <%= f.text_field :username, maxlength: User.username_max_length, placeholder: t("account.show.username_label") %>
            <% end %>
          </div>

          <div>
            <%= f.label :public_activity do %>
              <%= f.check_box :public_activity, title: t('account.show.public_activity_label'), label: false %>
              <span class="checkbox">
                <%= t("account.show.public_activity_label") %>
              </span>
            <% end %>
          </div>

          <div>
            <%= f.label :public_interests do %>
              <%= f.check_box :public_interests, title: t('account.show.public_interests_label'), label: false %>
              <span class="checkbox">
                <%= t("account.show.public_interests_label") %>
              </span>
            <% end %>
          </div>


          <% if @account.email.present? %>
            <h2><%= t("account.show.notifications")%></h2>

            <div>
              <%= f.label :email_on_comment do %>
                <%= f.check_box :email_on_comment, title: t('account.show.email_on_comment_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_comment_label") %>
                </span>
              <% end %>
            </div>

            <div>
              <%= f.label :email_on_comment_reply do %>
                <%= f.check_box :email_on_comment_reply, title: t('account.show.email_on_comment_reply_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_comment_reply_label") %>
                </span>
              <% end %>
            </div>

            <div>
              <%= f.label :email_newsletter_subscribed do %>
                <%= f.check_box :newsletter, title: t('account.show.subscription_to_website_newsletter_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.subscription_to_website_newsletter_label") %>
                </span>
              <% end %>
            </div>

            <div>
              <%= f.label :email_digest do %>
                <%= f.check_box :email_digest, title: t('account.show.email_digest_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_digest_label") %>
                </span>
              <% end %>
            </div>

            <div>
              <%= f.label :email_on_direct_message do %>
                <%= f.check_box :email_on_direct_message, title: t('account.show.email_on_direct_message_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_direct_message_label") %>
                </span>
              <% end %>
            </div>
          <% end %>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.label :official_position_badge do %>
                <%= f.check_box :official_position_badge,
                                 title: t('account.show.official_position_badge_label'),
                                 label: false %>
                <span class="checkbox">
                  <%= t("account.show.official_position_badge_label") %>
                </span>
              <% end %>
            </div>
          <% end %>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>

        <div class="user-permissions small-12 medium-5 column">
          <h2><%= t("account.show.user_permission_title") %></h2>

          <p><%= t("account.show.user_permission_info") %></p>

          <ul>
            <li><span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_proposal") %></li>
            <li>
              <% if current_user.level_two_or_three_verified? %>
                <span class="icon-check"></span>
              <% else %>
                <span class="icon-x"></span>
              <% end %>
              <%= t("account.show.user_permission_support_proposal") %>
            </li>
          </ul>
          <p>
            <%= t("account.show.user_permission_verify") %>
          </p>

          <% unless @account.organization? %>
            <div>
              <span class="verify-account">
                <% if current_user.level_three_verified? %>
                  <p class="already-verified">
                    <span class="icon-check"></span>
                    <%= t("account.show.verified_account") %>
                  </p>
                <% elsif current_user.level_two_verified? %>
                  <%= link_to t("account.show.finish_verification"), verification_path, class: "button success" %>
                <% else %>
                  <%= link_to t("account.show.verify_my_account"), verification_path, class: "button success" %>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
