// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

#home-hero {
  background: inherit;
  padding-top: 0;
  padding-bottom: 0;

  img.logo_jumbo {
    max-width: 300px;
  }

  .main {
    background: url('https://lujandecuyo.gob.ar/wp-content/uploads/2019/01/Luj%C3%A1n-100x100.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 45px -420px 80px -71px rgba(0,0,0,0.56);
    min-height: 150px;
    color: $text-white;
    position: relative;

    .row {
      transform: translate(0,100%);
    }
  }
}

.auth-image {
  a{
    width: 100%;
    display: flex;
    img{
      max-width: 300px;
      padding-top: 5rem;
      padding-bottom: 3rem;
      margin: auto;
    }
  }
}

#conditions {
  li{
    font-weight: normal;
  }
  ol > li{
    p:last-child{
      margin-bottom: 0;
    }
    margin-bottom: 1.5rem;
  }
}
